@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/*---------------------------------------- UNIVERSAL STYLES ----------------------------------------*/

body {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 300;
    height: 100%;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.preload {
    height: 0px;
    width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.contentContainer {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 2;
}

.sectionContainer {
    position: relative;
    z-index: 1;
}

#contactThankYou {
    display: none;
}


/*----- Extra Small -----*/

@media(max-width: 767px) {
    body {
        background: url(../images/bg.jpg) #000 no-repeat top center;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
        margin: 0 0 5px 0;
    }
    .contentContainer {
        top: 80px;
    }
    .sectionContainer {
        padding: 15px 0 40px 0;
    }
}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {
    body {
        background: url(../images/bg.jpg) #000 no-repeat top center fixed;
    }
    h1 {
        font-size: 50px;
        padding-top: 30px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 20px;
        margin: 0 0 3px 0;
    }
    .sectionContainer {
        padding: 25px 0 60px 0;
    }
}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {
    body {
        background: url(../images/bg.jpg) #000 no-repeat top center fixed;
    }
    h1 {
        font-size: 60px;
        padding-top: 30px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 24px;
        margin: 0 0 4px 0;
    }
    .sectionContainer {
        padding: 30px 0 70px 0;
    }
}


/*----- Large -----*/

@media(min-width: 1200px) {
    body {
        background: url(../images/bg.jpg) #000 no-repeat top center fixed;
    }
    h1 {
        font-size: 75px;
        padding-top: 30px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 24px;
        margin: 0 0 4px 0;
    }
    .sectionContainer {
        padding: 40px 0 80px 0;
    }
}


/*---------------------------------------- SOCIAL BAR STYLES ----------------------------------------*/

.social {
    position: relative;
    right: 5px;
    top: 0;
    z-index: 4;
}

.socialBar_support {
    background-color: #e48d24;
    border-radius: 0 0 0 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    height: 30px;
    padding-top: 8px;
    position: absolute;
    right: 180px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

.socialBar_support:active,
.socialBar_support:hover,
.socialBar_support:focus {
    background-color: #d7660d;
    color: #fff;
    text-decoration: none;
}

.socialBar_login {
    background-color: #006699;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    height: 30px;
    padding-top: 8px;
    position: absolute;
    right: 100px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

.socialBar_login:active,
.socialBar_login:hover,
.socialBar_login:focus {
    background-color: #005281;
    color: #fff;
    text-decoration: none;
}

.socialBar_facebook {
    background: url(../images/icon_facebook.png) #1f88ca no-repeat center;
    height: 30px;
    position: absolute;
    right: 70px;
    width: 30px;
}

.socialBar_facebook:active,
.socialBar_facebook:hover {
    background: url(../images/icon_facebook.png) #0a61b2 no-repeat center;
}

.socialBar_linkedIn {
    background: url(../images/icon_linkedin.png) #4f8598 no-repeat center;
    height: 30px;
    position: absolute;
    right: 40px;
    width: 30px;
}

.socialBar_linkedIn:active,
.socialBar_linkedIn:hover {
    background: url(../images/icon_linkedin.png) #2a5e73 no-repeat center;
}

.socialBar_google {
    background: url(../images/icon_google.png) #c63d2d no-repeat center;
    border-radius: 0 0 5px 0;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0px;
    width: 30px;
}

.socialBar_google:active,
.socialBar_google:hover {
    background: url(../images/icon_google.png) #ae1d12 no-repeat center;
}

.mobile_facebook {
    background: url(../images/icon_facebook.png) #1f88ca no-repeat center;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.mobile_facebook:hover,
.mobile_facebook:active {
    background: url(../images/icon_facebook.png) #0a61b2 no-repeat center;
}

.mobile_linkedIn {
    background: url(../images/icon_linkedin.png) #4f8598 no-repeat center;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.mobile_linkedIn:hover,
.mobile_linkedIn:active {
    background: url(../images/icon_linkedin.png) #2a5e73 no-repeat center;
}

.mobile_google {
    background: url(../images/icon_google.png) #c63d2d no-repeat center;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

.mobile_google:hover,
.mobile_google:active {
    background: url(../images/icon_google.png) #ae1d12 no-repeat center;
}

.mobile_support {
    background-color: #e48d24;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    height: 30px;
    padding: 0 10px;
    width: auto;
}

.mobile_login {
    background-color: #006699;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    height: 30px;
    padding: 0 10px;
    width: auto;
}


/*---------------------------------------- NAV BAR ----------------------------------------*/

.mfNavbar {
    position: relative;
    z-index: 3;
}

.navLink {
    color: #fff !important;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    letter-spacing: .5px;
}

.mfLogo {
    background-repeat: none;
    position: absolute;
}


/*----- Extra Small -----*/

@media(max-width: 767px) {
    .mfNavbar {
        background-color: #fff;
    }
    .mfLogo {
        background: url(../images/logo_small.png);
        height: 23px;
        left: 15px;
        top: 12px;
        width: 150px;
    }
    .navLink {
        color: #006699 !important;
        font-size: 17px;
    }
    .navLink:active,
    .navLink:hover,
    .navLink:focus {
        color: #005281 !important;
    }
}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {
    .mfNavbar {
        background: none;
        border: none;
        height: 90px;
    }
    .mfLogo {
        background-image: url(../images/logo.png);
        bottom: 0;
        height: 40px;
        width: 258px;
    }
    .navLink {
        font-size: 15px;
        margin-top: 70px;
        padding: 0 0 0 15px !important;
    }
    .navLink:active,
    .navLink:hover,
    .navLink:focus {
        color: #4ec0f1 !important;
    }
}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {
    .mfNavbar {
        background: none;
        border: none;
        height: 90px;
    }
    .mfLogo {
        background-image: url(../images/logo.png);
        bottom: 0;
        height: 40px;
        width: 258px;
    }
    .navLink {
        font-size: 17px;
        margin-top: 70px;
        padding: 0 0 0 20px !important;
    }
    .navLink:active,
    .navLink:hover,
    .navLink:focus {
        color: #4ec0f1 !important;
    }
}


/*----- Large -----*/

@media(min-width: 1200px) {
    .mfNavbar {
        background: none;
        border: none;
        height: 90px;
    }
    .mfLogo {
        background-image: url(../images/logo.png);
        bottom: 0;
        height: 40px;
        width: 258px;
    }
    .navLink {
        font-size: 17px;
        margin-top: 70px;
        padding: 0 0 0 20px !important;
    }
    .navLink:active,
    .navLink:hover,
    .navLink:focus {
        color: #4ec0f1 !important;
    }
}


/*---------------------------------------- SECTION TOP ----------------------------------------*/

.sectionTop {
    font-family: 'Merriweather', serif;
    height: 700px;
    text-align: center;
}


/*----- Extra Small -----*/

@media(max-width: 767px) {
    .sectionTop {
        font-size: 18px;
    }
}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {
    .sectionTop {
        font-size: 18px;
    }
}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {
    .sectionTop {
        font-size: 18px;
    }
}


/*----- Large -----*/

@media(min-width: 1200px) {
    .sectionTop {
        font-size: 20px;
    }
}


/*---------------------------------------- SECTION WHY ----------------------------------------*/

.sectionWhy {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.sectionWhy h4 {
    color: #e48d24;
}

.whyIcon {
    margin-top: 10px;
}


/*----- Extra Small -----*/

@media(max-width: 767px) {}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {}


/*----- Large -----*/

@media(min-width: 1200px) {}


/*---------------------------------------- SECTION PARTNERS ----------------------------------------*/

.sectionPartners {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

.sectionPartners h1,
.sectionPartners h2,
.sectionPartners h3 {
    color: #006699;
}

.testimonialContainer {
    border: 10px solid #eee;
    border-radius: 20px;
    position: relative;
}

#testimonial_yahoo,
#testimonial_aol {
    display: none;
}

.testimonialSlide {
    font-family: 'Merriweather', serif;
    ;
    font-style: italic;
    font-weight: 400;
    padding: 30px 0 0 0;
    text-align: center;
}

#btnTestimonialPrevious,
#btnTestimonialNext {
    background-color: #eee;
    border: none;
    color: #006699;
    position: absolute;
}

#btnTestimonialPrevious:hover,
#btnTestimonialPrevious:active,
#btnTestimonialNext:hover,
#btnTestimonialext:active {
    color: #e48d24;
}

#btnTestimonialPrevious {
    border-radius: 5px 0 0 5px;
    left: -40px;
}

#btnTestimonialNext {
    border-radius: 0 5px 5px 0;
    right: -40px;
}

.testimonialNav {
    text-align: center;
}

.testimonialName {
    color: #bbb;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 22px;
}

.testimonialTitle {
    color: #bbb;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-style: normal;
    font-size: 16px;
    margin-top: 5px;
}

.containerPartnerInfo {
    margin: 20px 0 0 0;
}

.partnerInfo {
    margin: 35px 0 50px 0;
}

.partnerLogo {
    padding: 0 25px 0 25px
}

.quoteLeft {
    background-image: url(../images/quote_left.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: 30px;
}

.quoteRight {
    background-image: url(../images/quote_right.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 50px;
    margin-top: 30px;
}

.testimonialButton {
    background: none;
    border: none;
    cursor: pointer;
    height: 75px;
    margin: 0 25px 0 25px;
    outline: none;
}

.btn_facebook_color {
    background-image: url(../images/logo_facebook.png);
    width: 144px;
}

.btn_facebook_bw {
    background-image: url(../images/logo_facebook_bw.png);
    width: 144px;
}

.btn_facebook_bw:hover {
    background-image: url(../images/logo_facebook.png);
}

.btn_yahoo_color {
    background-image: url(../images/logo_yahoo.png);
    width: 140px;
}

.btn_yahoo_bw {
    background-image: url(../images/logo_yahoo_bw.png);
    width: 140px;
}

.btn_yahoo_bw:hover {
    background-image: url(../images/logo_yahoo.png);
}

.btn_aol_color {
    background-image: url(../images/logo_aol.png);
    width: 87px;
}

.btn_aol_bw {
    background-image: url(../images/logo_aol_bw.png);
    width: 87px;
}

.btn_aol_bw:hover {
    background-image: url(../images/logo_aol.png);
}


/*----- Extra Small -----*/

@media(max-width: 767px) {
    .testimonialContainer {
        margin-top: 30px;
    }
    .testimonialSliderContainer {
        padding: 0 10px 0 10px;
    }
    .testimonialSlide {
        font-size: 16px;
    }
    .testimonialNav {
        margin: 20px 0 0 0;
    }
    .quoteLeft,
    .quoteRight {
        display: none !important;
    }
    .partnerInfo {
        text-align: center !important;
    }
    #btnTestimonialPrevious,
    #btnTestimonialNext {
        display: none;
    }
}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {
    .testimonialContainer {
        margin-top: 50px;
    }
    .testimonialSlide {
        font-size: 17px;
    }
    .testimonialNav {
        margin: 25px 0 0 0;
    }
    .partnerInfo {
        text-align: center !important;
    }
    #btnTestimonialPrevious,
    #btnTestimonialNext {
        font-size: 18px;
        padding: 7px 7px 9px 7px;
        top: 140px;
    }
}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {
    .testimonialContainer {
        margin-top: 50px;
    }
    .testimonialSlide {
        font-size: 18px;
    }
    .testimonialNav {
        margin: 30px 0 5px 0;
    }
    .quotation {
        display: none;
    }
    #btnTestimonialPrevious,
    #btnTestimonialNext {
        font-size: 22px;
        padding: 7px 7px 9px 7px;
        top: 150px;
    }
}


/*----- Large -----*/

@media(min-width: 1200px) {
    .testimonialContainer {
        margin-top: 50px;
    }
    .testimonialSlide {
        font-size: 19px;
    }
    .testimonialNav {
        margin: 35px 0 10px 0;
    }
    .quotation {
        display: none;
    }
    #btnTestimonialPrevious,
    #btnTestimonialNext {
        font-size: 22px;
        padding: 7px 7px 9px 7px;
        top: 160px;
    }
}


/*---------------------------------------- SECTION ABOUT ----------------------------------------*/

.sectionAbout {
    background-color: #006699;
    font-size: 18px;
}

.profileContainer {
    border: 10px solid #eee;
    border-radius: 0 20px 20px 20px;
    padding: 30px;
    position: relative;
}

.profile {
    margin: 10px 0;
}

.profilePhoto {
    border: 1px solid #eee;
    cursor: pointer;
    float: left;
    height: 150px;
    margin-right: 15px;
    width: 120px;
}

.profilePhotoEyal {
    background: url(../images/profilePhotoEyal.jpg);
}

.profilePhotoEitan {
    background: url(../images/profilePhotoEitan.jpg);
}

.profilePhotoRich {
    background: url(../images/profilePhotoRich.jpg);
}

.profilePhotoGeorge {
    background: url(../images/profilePhotoGeorge.jpg);
}

.profilePhotoJustin {
    background: url(../images/profilePhotoJustin.jpg);
}

.mfTitle {
    color: #e48d24;
    font-weight: 400;
}


/*----- Extra Small -----*/

@media(max-width: 767px) {}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {
    .mfTitle {
        font-size: 18px;
    }
}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {
    .mfTitle {
        font-size: 20px;
    }
}


/*----- Large -----*/

@media(min-width: 1200px) {
    .mfTitle {
        font-size: 20px;
    }
}


/*---------------------------------------- SECTION BLANK ----------------------------------------*/

.sectionBlank {
    background: url(../images/bg2.jpg) #000 no-repeat bottom center fixed;
    height: 400px;
}


/*---------------------------------------- SECTION CONTACT ----------------------------------------*/

.sectionContact {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 400;
}

.sectionContact h1,
.sectionContact h2 {
    color: #006699;
}

.sectionContact h3 {
    color: #e48d24;
}

.subSectionContact {
    border: 10px solid #eee;
    border-radius: 20px;
    margin-top: 20px;
}


/*----- Extra Small -----*/

@media(max-width: 767px) {
    .subSectionContact {
        padding: 0 15px 20px 15px;
    }
}


/*----- Small -----*/

@media(min-width: 768px) and (max-width: 991px) {
    .subSectionContact {
        min-height: 310px;
        padding: 5px 20px 25px 20px;
    }
}


/*----- Medium -----*/

@media(min-width: 992px) and (max-width: 1199px) {
    .subSectionContact {
        min-height: 300px;
        padding: 5px 25px 30px 25px;
    }
}


/*----- Large -----*/

@media(min-width: 1200px) {
    .subSectionContact {
        min-height: 280px;
        padding: 5px 25px 30px 25px;
    }
}


/*---------------------------------------- FOOTER STYLES ----------------------------------------*/

.footer {
    background-color: #006699;
    color: #4ec0f1;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
    padding: 120px 0 40px 0;
    text-align: center;
}

.footerLogo {
    height: 23px;
    margin-bottom: 15px;
    width: 150px;
}

.footerLink {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
}

.footerLink:active,
.footerLink:hover {
    color: #4ec0f1;
}

.footerLink:focus {
    color: #4ec0f1;
}

.footerInfoLink {
    color: #fff;
}

.footerInfoLink:active,
.footerInfoLink:hover {
    color: #4ec0f1;
}

.footerInfoLink:focus {
    color: #4ec0f1;
}


/*---------------------------------------- LINK STYLES ----------------------------------------*/

button {
    font-size: 18px;
    outline: none;
}

.mfButton {
    background-color: #006699;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .5px;
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 0 10px 0;
    width: 100%;
}

.mfButton:active,
.mfButton:hover {
    background-color: #005281;
}

.mfButton:focus {
    outline: 0;
}

.buttonIcon {
    float: right;
    padding-right: 15px;
    padding-top: 3px;
}

.smallButton {
    background-color: #e48d24;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    letter-spacing: .5px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    padding: 2px 7px;
}

.smallButton:active,
.smallButton:hover {
    background-color: #d7660d;
}

.smallButtonOpen {
    border-radius: 3px 3px 0 0;
}

.smallButtonIcon {
    float: right;
    padding-left: 15px;
}

a {
    color: #4ec0f1;
    cursor: pointer;
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    color: #e48d24;
    text-decoration: none;
}


/*---------------------------------------- MODAL STYLES ----------------------------------------*/

.mfModal {
    background-color: #eee;
    border: 10px solid #fff;
    border-radius: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.mfModalHeader {
    border: none;
}

.mfModal h2,
.mfModal h3 {
    color: #006699;
}

.mfModal h4 {
    color: #e48d24;
}

.formAddOn {
    background-color: #ddd;
}


/*
     FILE ARCHIVED ON 23:30:01 Aug 20, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:46:32 Mar 09, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/


/*
playback timings (ms):
  captures_list: 72.753
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.084
  cdx.remote: 0.069
  esindex: 0.012
  LoadShardBlock: 41.524 (3)
  PetaboxLoader3.datanode: 52.306 (4)
  load_resource: 369.9
  PetaboxLoader3.resolve: 355.886
*/